@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Gayathri:wght@100;400;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@100;400;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Fugaz+One&family=Gayathri:wght@100;400;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Righteous&family=Tilt+Neon&family=Yanone+Kaffeesatz:wght@200..700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{

}
header, nav, main,footer{
   wridth: 100%;
   margin: 0 auto;
   padding: 30px;
   color:#f4f1bb;
}
header{
    background-color: #ED6A5A;
    height: 150px;
    text-align: center;
}

nav{
    background-color: #9BC1C6;
    height: 80px;
}
main section h2 {
	margin: 20px 0px;
}
main section p {
	margin: 20px 0px;
}
main section audio {
	margin: 0px;
}
main section iframe {
}




main{
    background-color: #f4f1bb;
}
footer{
    background-color: #ED6A5A;
    text-align: center;
}
section{
	width: 80%;
	height: auto;
	background-color: #36c9c6;
	margin: 20px auto;
	padding: 20px;
	display: inline-block;
}
table{
	width: auto;
	border-collapse: collapse;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	padding-top: 31px;
}
table, table td, table th{
    border: 3px solid #ED6A5A;
}
table th{
    background-color: #ED6A5A;
    color: #f4f1bb;
    height: 50px;
}
table td{
    background-color: #e6ebe0;
    color: #ED6A5A;
    padding: 10px;
}
img{
    width: 150px; 
    height: auto;
}
#tabla_2, #tabla_2 td{
    background-color: transparent;
    border: none;
}body nav ul {
	list-style-type: none;
	text-align: center;
}
body nav ul li {
	display: inline-block;
	margin-left: 50px;
	margin-right: 50px;
	background-color: #FF5454;
	color: transparent;
	border-radius: 10px;
	padding: 7px;
	font-weight: bold;
}
body nav ul li a {
	text-decoration: none;
}
body nav ul li a:link , body nav ul li a:visited{
	color: #150200;
}
body nav ul li a:hover {
	color: #F4F1BB;
}
ul li a {
}
.·img_contacto {
	width: 25%;
	margin-top: auto;
	margin-right: 155px;
	margin-left: 339px;
	margin-bottom: auto;
	display: inline-block;
}
#tabla_zebra {
	background-color: trasparent;
	border-color: #980041;
	width: 80%;
}
#tabla_zebra thead th {
	background-color: #B96CFD;
	border-color: #A5005F;
}

#tabla_zebra td {
	background-color: transparent;
}
#tabla_zebra tbody tr:nth-child(even) {
	background-color: #81C1F3;
	color: #000000;
	border-color: #8C005B;
}
#tabla_zebra tbody tr:nth-child(odd) {
	background-color: #EFB0D7;
}
#tabla_hover {
	border-color: #99024E;
	width: 100%;
}
#tabla_hover tbody td {
	background-color: transparent;
}
#tabla_hover tbody tr:hover {
	background-color: #88F203;
}
#form1 {
	margin: 0 auto;
	padding: 50px;
	width: 50%;
	background-color: #73427E;

}
#form1 input[type=text] {
	width: 100%;
	padding: 7px;
	background-color: #AFEEF7;
	color: #330055;
}
#form1 .formato_input {
	padding: 7px;
	background-color: #C6F8FE;
	color: #38005E;
}

#form1 #email {
	width: 100%;
}
#form1 #Mensaje {
	width: 100%;
	height: 90px;
}
#form1 #submit {
	margin: 20px auto;
	width: 30%;
	display: block;
	background-color: #FF7B7B;
	color: #8900FA;
	padding: 8px;
	border-radius: 20px;
	font-weight: bold;
}
#form1 label {
	font-weight: bold;
	margin-bottom: 0px;
}
#form1 #tel {
	width: 100%;
}
#form1 #color {
	width: 100%;
}
#form1 #number {
	width: 100%;
}
body main form {
	font-weight: bold;
}
#form1 #number2 {
	width: 100%;
}
body main section {
}
h1{
	font-family: "Berkshire Swash", serif;
	font-size: 55px;
}
body{
	font-family: "Josefin Sans", sans-serif;
}
footer, input, a{
	font-family: "Fugaz One", sans-serif;
	font-size: 18px;
}